<div ng-cloak layout="column" layout-align="center center">
	<h2>Welcome!</h2>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>


	<div ng-cloak layout="row">
		<md-button class="md-raised" ui-sref="board({id: 0})">
			Existing Board
		</md-button>
		<md-button class="md-raised md-primary" ng-click="onNewBoardClick(event)">Create Board</md-button>
	</div>


	<br/>

</div>